* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --platform-aliases-shape-principal: #202024;
  --platform-aliases-shape-terciria: #323238;
  --platform-aliases-background: #121214;
  --brand-colors-explorer-mid: #02799d;
  --platform-aliases-ttulos: #e1e1e6;
  --platform-aliases-texto-base: #c4c4cc;
}

body {
  background-color: var(--platform-aliases-background);
  font-family: "Mulish", sans-serif;
  padding: 4.5rem 7.5rem 7.5rem;
  display: grid;
  justify-content: center;
}

header h1 {
  color: var(--brand-colors-explorer-mid);
  font-size: 4rem;
  font-weight: 900;
}

header p {
  color: var(--platform-aliases-ttulos);
}

main {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(
    3,
    23rem
  ); /* 22.875rem (add 2 pixel to card width) */
  gap: 3.75rem;
}

.card {
  border-radius: 0.5rem;
  border: 0.125rem solid var(--platform-aliases-shape-terciria);
  background-color: var(--platform-aliases-shape-principal);
}

.card h3 {
  color: var(--platform-aliases-ttulos);
  font-size: 2.25rem;
  font-weight: 900;
  padding: 1.5rem;
}

.card p {
  color: var(--platform-aliases-texto-base);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0 1.375rem 2.5rem;
}
